BerryManagementAndroidApplication/Web References/StructureService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Structure_Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PersonPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonPost_BalanceSheetType_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_Brigade_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonPost_DismissalOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonPost_EmployeeBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonPost_EmployeeType_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonPost_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_Person_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_Post_BarCodePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonPost_Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PersonPost_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonPost" nillable="true" type="tns:PersonPost" />
  <xs:complexType name="Brigade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brigade_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brigade_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Brigade_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brigade" nillable="true" type="tns:Brigade" />
  <xs:complexType name="CarDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarDriver_Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarDriver_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_PersonPost_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_Person_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarDriver" nillable="true" type="tns:CarDriver" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Car_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_SideType_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="CompanyCar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCar_Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyCar_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyCar" nillable="true" type="tns:CompanyCar" />
  <xs:complexType name="Companye">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_CitizenshipId" type="xs:long" />
      <xs:element minOccurs="0" name="Company_IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Company_Identity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_IsResident" type="xs:boolean" />
      <xs:element minOccurs="0" name="Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_RS_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_RS_UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_SideType_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Companye" nillable="true" type="tns:Companye" />
  <xs:complexType name="CompanyRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyRow_Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyRow_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyRow" nillable="true" type="tns:CompanyRow" />
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="0" name="Point_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Car_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Point_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Point_IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Point_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_PointType_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post_BalanceSheetType_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_BarCodePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="RowBreed">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowBreed_Breed_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowBreed_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_PlantYear" type="xs:int" />
      <xs:element minOccurs="0" name="RowBreed_Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowBreed_TreeCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowBreed" nillable="true" type="tns:RowBreed" />
  <xs:complexType name="Row">
    <xs:sequence>
      <xs:element minOccurs="0" name="Row_Barkode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Row_Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row_Subrow_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector_Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Row" nillable="true" type="tns:Row" />
  <xs:complexType name="ArrayOfRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRow" nillable="true" type="tns:ArrayOfRow" />
  <xs:complexType name="ArrayOfContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainer" nillable="true" type="tns:ArrayOfContainer" />
  <xs:complexType name="Container">
    <xs:sequence>
      <xs:element minOccurs="0" name="Container_BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container_ContainerType_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container_IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Container" nillable="true" type="tns:Container" />
  <xs:complexType name="ArrayOfProductPack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPack" nillable="true" type="tns:ProductPack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPack" nillable="true" type="tns:ArrayOfProductPack" />
  <xs:complexType name="ProductPack">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductPack_Container_BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPack_Id" type="xs:long" />
      <xs:element minOccurs="0" name="ProductPack_In_DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductPack_In_ProductPackInOut_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductPack_In_User_PersonPost_Id" type="xs:long" />
      <xs:element minOccurs="0" name="ProductPack_Out_DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductPack_Out_ProductPackInOut_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductPack_Out_User_PersonPost_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProductPack_Product_Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPack" nillable="true" type="tns:ProductPack" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="ArrayOfBrigade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brigade" nillable="true" type="tns:Brigade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrigade" nillable="true" type="tns:ArrayOfBrigade" />
</xs:schema>