BerryPackagingApplication/Connected Services/BM_Security_ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermission" nillable="true" type="tns:ArrayOfPermission" />
  <xs:complexType name="Permission">
    <xs:sequence>
      <xs:element minOccurs="0" name="Permission_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Permission_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission_ParentId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Role_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfRolePermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePermission" nillable="true" type="tns:RolePermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePermission" nillable="true" type="tns:ArrayOfRolePermission" />
  <xs:complexType name="RolePermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="RolePermission_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RolePermission_Permission_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RolePermission_Role_Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolePermission" nillable="true" type="tns:RolePermission" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post_BalanceSheetType_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_BarCodePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="PostRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostRole_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostRole_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_Role_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostRole" nillable="true" type="tns:PostRole" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_PasswordIsReset" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_Person_Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>