BerryManagementApplication/Connected Services/BM_Produce_ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBreedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BreedProperty" nillable="true" type="tns:BreedProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBreedProperty" nillable="true" type="tns:ArrayOfBreedProperty" />
  <xs:complexType name="BreedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="BreedProperty_Breed_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BreedProperty_Breed_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BreedProperty_DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BreedProperty_Density" type="xs:decimal" />
      <xs:element minOccurs="0" name="BreedProperty_Id" type="xs:long" />
      <xs:element minOccurs="0" name="BreedProperty_Sugar" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BreedProperty" nillable="true" type="tns:BreedProperty" />
</xs:schema>