BerryManagementAndroidApplication/Web References/SecurityService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Security.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Security.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Security_Service/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserPermissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserPermisions" nillable="true" type="q1:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPermissions" nillable="true" type="tns:UserPermissions" />
  <xs:complexType name="ArrayOfUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserModel" nillable="true" type="tns:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserModel" nillable="true" type="tns:ArrayOfUserModel" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="User_Brigade_ID" type="xs:long" />
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_PasswordIsReset" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_PersonPost_ID" type="xs:long" />
      <xs:element minOccurs="0" name="User_Person_FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Person_ID" type="xs:long" />
      <xs:element minOccurs="0" name="User_Person_LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Role_ID" type="xs:long" />
      <xs:element minOccurs="0" name="User_Role_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:complexType name="ArrayOfPermissionsForRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionsForRole" nillable="true" type="tns:PermissionsForRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionsForRole" nillable="true" type="tns:ArrayOfPermissionsForRole" />
  <xs:complexType name="PermissionsForRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="PermissionId" type="xs:long" />
      <xs:element minOccurs="0" name="PermissionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionParentId" type="xs:long" />
      <xs:element minOccurs="0" name="RolesPermissionPermissionId" type="xs:long" />
      <xs:element minOccurs="0" name="RolesPermissionRoleId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionsForRole" nillable="true" type="tns:PermissionsForRole" />
  <xs:complexType name="ArrayOfPostRoleName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostRoleName" nillable="true" type="tns:PostRoleName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostRoleName" nillable="true" type="tns:ArrayOfPostRoleName" />
  <xs:complexType name="PostRoleName">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostRole_End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostRole_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_Post_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostRole_Role_Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostRole_Role_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostRole_Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostRoleName" nillable="true" type="tns:PostRoleName" />
</xs:schema>