BerryManagementApplication/Connected Services/BM_Template_ServiceReference/BM_Template_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BM_Template_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBM_Template_Service_GetDocumentTemplateTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTemplateTitles" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_GetDocumentTemplateTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTemplateTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_GetDocumentTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTemplate" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_GetDocumentTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_InsertDocumentTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocumentTemplate" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_InsertDocumentTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocumentTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_UpdateDocumentTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentTemplate" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_UpdateDocumentTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_DeleteDocumentTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentTemplate" />
  </wsdl:message>
  <wsdl:message name="IBM_Template_Service_DeleteDocumentTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="IBM_Template_Service">
    <wsdl:operation name="GetDocumentTemplateTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IBM_Template_Service/GetDocumentTemplateTitles" message="tns:IBM_Template_Service_GetDocumentTemplateTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBM_Template_Service/GetDocumentTemplateTitlesResponse" message="tns:IBM_Template_Service_GetDocumentTemplateTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBM_Template_Service/GetDocumentTemplate" message="tns:IBM_Template_Service_GetDocumentTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBM_Template_Service/GetDocumentTemplateResponse" message="tns:IBM_Template_Service_GetDocumentTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBM_Template_Service/InsertDocumentTemplate" message="tns:IBM_Template_Service_InsertDocumentTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBM_Template_Service/InsertDocumentTemplateResponse" message="tns:IBM_Template_Service_InsertDocumentTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBM_Template_Service/UpdateDocumentTemplate" message="tns:IBM_Template_Service_UpdateDocumentTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBM_Template_Service/UpdateDocumentTemplateResponse" message="tns:IBM_Template_Service_UpdateDocumentTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBM_Template_Service/DeleteDocumentTemplate" message="tns:IBM_Template_Service_DeleteDocumentTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBM_Template_Service/DeleteDocumentTemplateResponse" message="tns:IBM_Template_Service_DeleteDocumentTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBM_Template_Service" type="tns:IBM_Template_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentTemplateTitles">
      <soap:operation soapAction="http://tempuri.org/IBM_Template_Service/GetDocumentTemplateTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTemplate">
      <soap:operation soapAction="http://tempuri.org/IBM_Template_Service/GetDocumentTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentTemplate">
      <soap:operation soapAction="http://tempuri.org/IBM_Template_Service/InsertDocumentTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentTemplate">
      <soap:operation soapAction="http://tempuri.org/IBM_Template_Service/UpdateDocumentTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentTemplate">
      <soap:operation soapAction="http://tempuri.org/IBM_Template_Service/DeleteDocumentTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BM_Template_Service">
    <wsdl:port name="BasicHttpBinding_IBM_Template_Service" binding="tns:BasicHttpBinding_IBM_Template_Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>