ServiceTest/Connected Services/BM_Employee_ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetNumberOfEmployeeSameIdentities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inEmployeeIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfEmployeeSameIdentitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfEmployeeSameIdentitiesResult" type="xs:int" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvByHarvRowDistrOuts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Direction" type="xs:boolean" />
        <xs:element minOccurs="0" name="brigadeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvByHarvRowDistrOutsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetHarvByHarvRowDistrOutsResult" nillable="true" type="q1:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvesterByHRDForPunishment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvesterByHRDForPunishmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetHarvesterByHRDForPunishmentResult" nillable="true" type="q2:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="inEmployee" nillable="true" type="q3:Person" />
        <xs:element minOccurs="0" name="inUserId" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCurrentName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inEmployeeId" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCurrentNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeCurrentNameResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="Employee" nillable="true" type="q4:Person" />
        <xs:element minOccurs="0" name="PersonId" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="Employee" nillable="true" type="q5:Person" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="Employee" nillable="true" type="q6:Person" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsIdByPersonId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsIdByPersonIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetPersonPostsIdByPersonIdResult" nillable="true" type="q7:ArrayOfPersonPost" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShortData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="EmployeeIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="isFirstUse" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShortDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetEmployeeShortDataResult" nillable="true" type="q8:ArrayOfPerson" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonDocumentId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonDocumentEmployeeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="inrsonDocumentDocumentTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="PersonDocumentCitizenshipId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="PersonDocumentStartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PersonDocumentEndDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPersonDocumentsResult" nillable="true" type="q9:ArrayOfPersonDocumentModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="PersonDocument" nillable="true" type="q10:PersonDocument" />
        <xs:element minOccurs="0" name="inoutErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inoutErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="PersonDocument" nillable="true" type="q11:PersonDocument" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="PersonDocument" nillable="true" type="q12:PersonDocument" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="PersonDocument" nillable="true" type="q13:PersonDocument" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personPost_Id" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="Person_Id" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="Post_Id" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="employeeBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetPersonPostDataResult" nillable="true" type="q14:ArrayOfPersonPost" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="personPost" nillable="true" type="q15:PersonPost" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="personPost" nillable="true" type="q16:PersonPost" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="personPost" nillable="true" type="q17:PersonPost" />
        <xs:element minOccurs="0" name="person_Id" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="personPost" nillable="true" type="q18:PersonPost" />
        <xs:element minOccurs="0" name="PersonId" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonPost_PersonId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPersonPostModelResult" nillable="true" type="q19:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostModelForRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrigadeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostModelForRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPersonPostModelForRowsResult" nillable="true" type="q20:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsByBrigadeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brigadeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsByBrigadeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPersonPostsByBrigadeIdResult" nillable="true" type="q21:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsForPunishment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostsForPunishmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPersonPostsForPunishmentResult" nillable="true" type="q22:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetEmployeeDataResult" nillable="true" type="q23:ArrayOfPerson" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeePostIds" nillable="true" type="q24:ArrayOflong" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetEmployeeLabelsResult" nillable="true" type="q25:ArrayOfEmployeeLabel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetPostByIdResult" nillable="true" type="q26:ArrayOfPost" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostByBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="harvesterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonPostByBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="GetPersonPostByBarCodeResult" nillable="true" type="q27:ArrayOfPersonPost" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvByHarvRowDistrOutsByRowId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Direction" type="xs:boolean" />
        <xs:element minOccurs="0" name="brigadeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="rowId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarvByHarvRowDistrOutsByRowIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetHarvByHarvRowDistrOutsByRowIdResult" nillable="true" type="q28:ArrayOfPersonPostModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunishment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="userPersonPostId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunishmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPunishmentResult" nillable="true" type="q29:ArrayOfPunishmentModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunishmentByDite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunishmentByDiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Employees.XClasses" minOccurs="0" name="GetPunishmentByDiteResult" nillable="true" type="q30:ArrayOfPunishmentModel" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePunishment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="punishment" nillable="true" type="q31:Punishment" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePunishmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPunishment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="punishment" nillable="true" type="q32:Punishment" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPunishmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPunishmentForAndroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data" minOccurs="0" name="punishment" nillable="true" type="q33:Punishment" />
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPunishmentForAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>