ServiceTest/Connected Services/BM_Structure_ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Structure.XClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.Structure.XClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRowWithDateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowWithDateModel" nillable="true" type="tns:RowWithDateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowWithDateModel" nillable="true" type="tns:ArrayOfRowWithDateModel" />
  <xs:complexType name="RowWithDateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowBreed_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowBreed_StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Row_Barkode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Row_Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row_Subrow_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector_Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowWithDateModel" nillable="true" type="tns:RowWithDateModel" />
  <xs:complexType name="ArrayOfRowModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowModel" nillable="true" type="tns:RowModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowModel" nillable="true" type="tns:ArrayOfRowModel" />
  <xs:complexType name="RowModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Row_Barkode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Row_Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row_Subrow_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector_Number" type="xs:int" />
      <xs:element minOccurs="0" name="direction" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowModel" nillable="true" type="tns:RowModel" />
  <xs:complexType name="ArrayOfPointsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointsModel" nillable="true" type="tns:PointsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointsModel" nillable="true" type="tns:ArrayOfPointsModel" />
  <xs:complexType name="PointsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Point_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Car_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Point_Car_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Car_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Point_IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Point_IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Point_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_PointType_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_PointType_IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Point_PointType_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointsModel" nillable="true" type="tns:PointsModel" />
  <xs:complexType name="ArrayOfPostModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostModel" nillable="true" type="tns:PostModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostModel" nillable="true" type="tns:ArrayOfPostModel" />
  <xs:complexType name="PostModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceSheetType_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_BalanceSheetType_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_BarCodePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Post_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostModel" nillable="true" type="tns:PostModel" />
  <xs:complexType name="ArrayOfCarDriversModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarDriversModel" nillable="true" type="tns:CarDriversModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarDriversModel" nillable="true" type="tns:ArrayOfCarDriversModel" />
  <xs:complexType name="CarDriversModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarDriver_Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_Car_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDriver_Car_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDriver_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarDriver_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_IsResident" type="xs:boolean" />
      <xs:element minOccurs="0" name="CarDriver_PersonPost_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_Person_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CarDriver_Person_Identity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDriver_Person_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDriver_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarDriversModel" nillable="true" type="tns:CarDriversModel" />
  <xs:complexType name="ArrayOfCarModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarModel" nillable="true" type="tns:CarModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarModel" nillable="true" type="tns:ArrayOfCarModel" />
  <xs:complexType name="CarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Car_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_SideType_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Car_SideType_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModel" nillable="true" type="tns:CarModel" />
  <xs:complexType name="ArrayOfCompanyCarModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyCarModel" nillable="true" type="tns:CompanyCarModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyCarModel" nillable="true" type="tns:ArrayOfCompanyCarModel" />
  <xs:complexType name="CompanyCarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCar_Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_Car_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCar_Car_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCar_Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCar_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyCar_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyCar_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyCarModel" nillable="true" type="tns:CompanyCarModel" />
  <xs:complexType name="ArrayOfCompanyeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyeModel" nillable="true" type="tns:CompanyeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyeModel" nillable="true" type="tns:ArrayOfCompanyeModel" />
  <xs:complexType name="CompanyeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_CitizenshipId" type="xs:long" />
      <xs:element minOccurs="0" name="Company_Citizenship_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Citizenship_NameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Company_Identity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_RS_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_RS_UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_SideType_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Company_SideType_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyeModel" nillable="true" type="tns:CompanyeModel" />
  <xs:complexType name="ArrayOfCompanyRowsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyRowsModel" nillable="true" type="tns:CompanyRowsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyRowsModel" nillable="true" type="tns:ArrayOfCompanyRowsModel" />
  <xs:complexType name="CompanyRowsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyRow_Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRow_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyRow_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_Row_Barkode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRow_Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyRow_Row_Number" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRow_Row_Subrow_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRow_Sector_Number" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRow_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyRowsModel" nillable="true" type="tns:CompanyRowsModel" />
  <xs:complexType name="ArrayOfRowBreedsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowBreedsModel" nillable="true" type="tns:RowBreedsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowBreedsModel" nillable="true" type="tns:ArrayOfRowBreedsModel" />
  <xs:complexType name="RowBreedsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowBreed_Breed_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_Breed_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowBreed_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowBreed_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_PlantYear" type="xs:int" />
      <xs:element minOccurs="0" name="RowBreed_Row_Barkode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowBreed_Row_Id" type="xs:long" />
      <xs:element minOccurs="0" name="RowBreed_Row_Number" type="xs:int" />
      <xs:element minOccurs="0" name="RowBreed_Row_Subrow_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowBreed_Sector_Number" type="xs:int" />
      <xs:element minOccurs="0" name="RowBreed_StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowBreed_TreeCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowBreedsModel" nillable="true" type="tns:RowBreedsModel" />
</xs:schema>