BerryManagementAndroidApplication/Web References/RsService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.RS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BerryManagementWindowsService.Data.RS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransportWaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportWaybillModel" nillable="true" type="tns:TransportWaybillModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportWaybillModel" nillable="true" type="tns:ArrayOfTransportWaybillModel" />
  <xs:complexType name="TransportWaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransportWaybillDetail_State" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_CarNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportWaybill_Car_Id" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_Car_Point_Id" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_Company_Id" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportWaybill_Destination_Point_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_End_DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransportWaybill_Id" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_RS_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_RS_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportWaybill_Start_DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransportWaybill_Start_Point_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TransportWaybill_Type_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportWaybillModel" nillable="true" type="tns:TransportWaybillModel" />
  <xs:complexType name="ArrayOfNonTransportWaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NonTransportWaybillModel" nillable="true" type="tns:NonTransportWaybillModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNonTransportWaybillModel" nillable="true" type="tns:ArrayOfNonTransportWaybillModel" />
  <xs:complexType name="NonTransportWaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="NonTransportWaybillDetail_State" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_CompanyBuyer_Id" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_CompanySeler_Id" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_End_DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NonTransportWaybill_Id" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_RS_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_RS_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonTransportWaybill_Start_DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NonTransportWaybill_TransportWaybill_Id" type="xs:long" />
      <xs:element minOccurs="0" name="NonTransportWaybill_Type_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NonTransportWaybill__CompanyBuyer_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonTransportWaybill__CompanySeler_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonTransportWaybillModel" nillable="true" type="tns:NonTransportWaybillModel" />
</xs:schema>